html {
	font-size: 62.5%;
	box-sizing: border-box;
}

*,
*::after,
*::before {
	box-sizing: inherit;
	padding: 0;
	margin: 0;
}

:root {
	--white: hsl(0, 0%, 100%);
	--light-gray: hsl(212, 45%, 89%);
	--light-blue: hsl(228, 45%, 44%);
	--grayish-blue: hsl(220, 15%, 55%);
	--dark-blue: hsl(218, 44%, 22%);
	--sm: 1.1rem;
	--md: 1.5rem;
	--lg: 2.1rem;
	--font-family-standard: "Outfit", sans-serif;
}
body {
	background-color: var(--light-gray);
	min-width: 375px;
	font-size: var(--md);
	font-family: var(--font-family-standard);
	min-height: 100vh;
	font-weight: 400;
	display: grid;
	place-content: center;
}

h1 {
	font-size: var(--lg);
	font-weight: 700;
}

.section-qr__container {
	width: 320px;
	height: 500px;
	background-color: var(--white);
	border-radius: 20px;
	overflow: hidden;
	padding: 17px;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.section-qr__container-qr__image {
	width: 100%;
	border-radius: 10px;
}

.section-qr__container__content {
	padding: 20px;
	text-align: center;
}

.section-qr__container__text{
	margin-top: 20px;
	color: var(--grayish-blue);
}

.footer-container {
	position: absolute;
	bottom: 0;
	width: 100%;
}
.footer-container__attribution {
	font-size: var(--sm);
	text-align: center;
	margin: 20px auto;
}
.footer-container__attribution__a {
	color: var(--light-blue);
}
